*.log
*.pw
*.zip
*.log
*.pw
*desktop.ini

Archive
log
Logs
log/*
test/log/*
logs/*
test/logs/*

#VS Code Files
*.vscode

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
*.Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows shortcuts
*.lnk

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

/notes.ps1
/bin/gam.exe
/bin/oauth2.txt
/bin/roots.pem
/jenkins.ps1
/params.ps1